.post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
  }
}

article {
  ul {
    display: grid;
    padding-left: 1rem;
    gap: 0.4rem;
  }

  ol {
    display: grid;
    padding-left: 1rem;
    gap: 0.4rem;
  }

  li {
    line-height: 1.5;
    padding-left: 0.5rem;
  }
}
