body {
  font-family: "Switzer-Variable", sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
  -webkit-text-size-adjust: 100%;
}

:where(
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    p,
    .paragraph,
    ul,
    ol,
    pre,
    dl,
    address,
    details,
    hr,
    aside,

  ) {
  + * {
    margin-block-start: 1rem;
  }
}

table,
figure,
blockquote,
form,
fieldset,
video {
  margin-block: min(2rem, 5vw);
}

hr {
  margin-block: 2rem;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-color: var(--color-base-10);
  opacity: 0.75;
}

a {
  color: inherit;
}
