/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer base { */
/* :root { */
/* --color-text-main: 23 23 23; #171717 */
/* --color-bg-main: 242 241 236; #F2F1EC */
/* --color-bg-muted: 234 233 225; #EAE9E1 */
/* --color-border-main: 23 23 23; #171717 */
/* } */
/* html.dark { */
/* --color-text-main: 242 241 236; #F2F1EC */
/* --color-bg-main: 23 23 23; #171717 */
/* --color-bg-muted: 36 36 36; #242424 */
/* --color-border-main: 242 241 236; #F2F1EC */
/* } */

/* Cyan */
/*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

/* Green */
/*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
/* } */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
/* * {
  margin: 0;
} */
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Switzer-Variable";
  src:
    url("/fonts/Switzer-Variable.woff2") format("woff2"),
    url("/fonts/Switzer-Variable.woff") format("woff"),
    url("/fonts/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Switzer-VariableItalic";
  src:
    url("/fonts/Switzer-VariableItalic.woff2") format("woff2"),
    url("/fonts/Switzer-VariableItalic.woff") format("woff"),
    url("/fonts/Switzer-VariableItalic.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

body {
  font-family: "Switzer-Variable", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: clamp(1.5rem, 0.2727rem + 5.4545vw, 3rem);
}

h1,
h2 {
  line-height: 1.2;
}

hr {
  margin-block: 2rem;
  border-color: rgba(0, 0, 0, 0.1);
}

p {
  font-size: clamp(1rem, 0.8558rem + 0.641vw, 1.125rem);
  line-height: 1.5;
}

a {
  color: inherit;
}
