:root {
  --color-base-light: #f2f2f2;
  --color-base-dark: #1a1b26;

  --color-headings: var(--color-base-dark);
  --color-text: var(--color-base-80);
  --color-bg: var(--color-base-light);

  --color-base-10: color-mix(in srgb, var(--color-base-light), #000 10%);
  --color-base-20: color-mix(in srgb, var(--color-base-light), #000 20%);
  --color-base-30: color-mix(in srgb, var(--color-base-light), #000 30%);
  --color-base-40: color-mix(in srgb, var(--color-base-light), #000 40%);
  --color-base-50: color-mix(in srgb, var(--color-base-light), #000 50%);
  --color-base-60: color-mix(in srgb, var(--color-base-light), #000 60%);
  --color-base-70: color-mix(in srgb, var(--color-base-light), #000 70%);
  --color-base-80: color-mix(in srgb, var(--color-base-light), #000 80%);
  --color-base-90: color-mix(in srgb, var(--color-base-light), #000 90%);

  --codeblock-title-padding: 0.5rem 0.75rem;
  --codeblock-padding: min(0.75rem, 2vw);
  --codeblock-border-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-headings: var(--color-base-light);
    --color-text: var(--color-base-80);
    --color-bg: var(--color-base-dark);

    --color-base-10: color-mix(in srgb, var(--color-base-dark), #fff 10%);
    --color-base-20: color-mix(in srgb, var(--color-base-dark), #fff 20%);
    --color-base-30: color-mix(in srgb, var(--color-base-dark), #fff 30%);
    --color-base-40: color-mix(in srgb, var(--color-base-dark), #fff 40%);
    --color-base-50: color-mix(in srgb, var(--color-base-dark), #fff 50%);
    --color-base-60: color-mix(in srgb, var(--color-base-dark), #fff 60%);
    --color-base-70: color-mix(in srgb, var(--color-base-dark), #fff 70%);
    --color-base-80: color-mix(in srgb, var(--color-base-dark), #fff 80%);
    --color-base-90: color-mix(in srgb, var(--color-base-dark), #fff 90%);
  }
}

html {
  color-scheme: light dark;
}

[data-theme="dark"] {
  color-scheme: dark;
  --color-headings: var(--color-base-light);
  --color-text: var(--color-base-80);
  --color-bg: var(--color-base-dark);

  --color-base-10: color-mix(in srgb, var(--color-base-dark), #fff 10%);
  --color-base-20: color-mix(in srgb, var(--color-base-dark), #fff 20%);
  --color-base-30: color-mix(in srgb, var(--color-base-dark), #fff 30%);
  --color-base-40: color-mix(in srgb, var(--color-base-dark), #fff 40%);
  --color-base-50: color-mix(in srgb, var(--color-base-dark), #fff 50%);
  --color-base-60: color-mix(in srgb, var(--color-base-dark), #fff 60%);
  --color-base-70: color-mix(in srgb, var(--color-base-dark), #fff 70%);
  --color-base-80: color-mix(in srgb, var(--color-base-dark), #fff 80%);
  --color-base-90: color-mix(in srgb, var(--color-base-dark), #fff 90%);
}

[data-theme="light"] {
  color-scheme: light;
  --color-headings: var(--color-base-dark);
  --color-text: var(--color-base-80);
  --color-bg: var(--color-base-light);

  --color-base-10: color-mix(in srgb, var(--color-base-light), #000 10%);
  --color-base-20: color-mix(in srgb, var(--color-base-light), #000 20%);
  --color-base-30: color-mix(in srgb, var(--color-base-light), #000 30%);
  --color-base-40: color-mix(in srgb, var(--color-base-light), #000 40%);
  --color-base-50: color-mix(in srgb, var(--color-base-light), #000 50%);
  --color-base-60: color-mix(in srgb, var(--color-base-light), #000 60%);
  --color-base-70: color-mix(in srgb, var(--color-base-light), #000 70%);
  --color-base-80: color-mix(in srgb, var(--color-base-light), #000 80%);
  --color-base-90: color-mix(in srgb, var(--color-base-light), #000 90%);
}
