---
import siteConfig from "../data/site-config";
---

<header class="site-header">
  {
    siteConfig.logo && siteConfig.logo?.src ? (
      <a href="/">
        <img
          src={siteConfig.logo.src}
          alt={siteConfig.logo.alt || ""}
          class=""
        />
      </a>
    ) : (
      <a class="" href="/">
        {siteConfig.title}
      </a>
    )
  }
  {siteConfig.subtitle && <p class="">{siteConfig.subtitle}</p>}
</header>


