---
import { type CollectionEntry } from "astro:content";
import ArrowRight from "../icons/ArrowRight.astro";

type Props = {
  project: CollectionEntry<"projects">;
  class?: string;
  headingLevel?: "h2" | "h3";
};

const { project, class: className, headingLevel = "h2" } = Astro.props;
const { title, description } = project.data;
const TitleTag = headingLevel;
---

<a class:list={["", className]} href={`/projects/${project.slug}/`}>
  <div class="">
    <TitleTag class="">
      {title}
    </TitleTag>
    {description && <div class="">{description}</div>}
  </div>
  <div class="">
    View Project <ArrowRight class="" />
  </div>
</a>
