---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "@astrojs/image/components";
import SideBarMenu from "./SideBarMenu.astro";
import { getCollection } from "astro:content";
import HorizontalCard from "../components/HorizontalCard.astro";
const { sideBarActiveItemID } = Astro.props;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<div class="drawer-side z-40">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside
    class="p-5 lg:px-20 xl:px-[8.6rem] h-auto min-h-full bg-base-200 lg:w-[40dvw] text-base-content flex flex-col"
  >
    <h1 class="mb-10">
      <span class="block text-xl py-1">👋 I'm Filip and I really like to</span>
      <span class="block text-3xl font-bold"
        >Create, solve problems, make pretty things along the way
      </span>
    </h1>

    <a class="block mb-10" href="/">
      <Image
        class="w-full"
        aspectRatio="3:4"
        format="webp"
        width={320}
        height={400}
        src="/profile.jpg"
        alt="Profile image"
      />
    </a>

    <!-- <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} /> -->

    {
      last_posts.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            desc={post.data.description}
            url={"/blog/" + post.slug}
            target="_self"
            badge={post.data.badge}
          />
        </>
      ))
    }
    <!-- <SideBarFooter /> -->
  </aside>
</div>
