---
import Button from "./Button.astro";
import siteConfig from "../data/site-config";

const subscribe = siteConfig.subscribe;

const { class: className } = Astro.props;
---

{
  subscribe?.formUrl && (
    <section class:list={["", className]}>
      {subscribe.title && (
        <h2 class:list={["", subscribe.text ? "" : ""]}>{subscribe.title}</h2>
      )}
      {subscribe.text && <p class="">{subscribe.text}</p>}
      <form
        action={subscribe.formUrl}
        method="post"
        id="subscribe-form"
        name="subscribe-form"
        class=""
        target="_blank"
      >
        <label for="email" class="sr-only">
          Email Address
        </label>
        <input
          type="email"
          name="email"
          id="email"
          class=""
          required=""
          value=""
          placeholder="Your email"
        />
        <Button type="submit" name="subscribe" class="">
          Subscribe
        </Button>
      </form>
    </section>
  )
}
