---

---

<div data-theme-picker id="theme">
  <button aria-label="light">light ☀️</button>
  <button aria-label="dark">dark 🌑</button>
</div>

<style>
  button {
    cursor: pointer;
    background-color: var(--color-text);
    color: var(--color-bg);
    border: none;
    appearance: none;
    border-radius: 0.2rem;
    opacity: 0.5;
    transition: opacity 0.3s;
  }

  button:hover,
  button.active {
    opacity: 1;
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const themeSwitcher = document.querySelector("[data-theme-picker]");

    if (!themeSwitcher) {
      return;
    }
    const themeButtons = themeSwitcher.querySelectorAll("button");


    if (themeButtons.length === 0) {
      return;
    }

    // Get the theme from localStorage or match media preference
    const theme = (() => {
      if (localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();

    // Apply the theme to the document
    if (theme === "light") {
      document.documentElement.setAttribute("data-theme", "light");
    } else if (theme === "dark") {
      document.documentElement.setAttribute("data-theme", "dark");
    } else {
      document.documentElement.removeAttribute("data-theme");
    }

    // Update button class based on the theme
    themeButtons.forEach((button) => {
      if (button.getAttribute("aria-label") === theme) {
        button.classList.add("active");
      }
    });

    // Add click event listener to each button to change theme
    themeButtons.forEach((button) => {
      button.addEventListener("click", () => {
        themeButtons.forEach((btn) => btn.classList.remove("active"));
        button.classList.add("active");

        if (button.getAttribute("aria-label") === "light") {
          document.documentElement.setAttribute("data-theme", "light");
          localStorage.setItem("theme", "light");
        } else if (button.getAttribute("aria-label") === "dark") {
          document.documentElement.setAttribute("data-theme", "dark");
          localStorage.setItem("theme", "dark");
        } else {
          document.documentElement.removeAttribute("data-theme");
          localStorage.removeItem("theme");
        }
      });
    });
  });
</script>
