---
import { ViewTransitions } from "astro:transitions";
import BaseHead, {
  type Props as HeadProps,
} from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";

export type Props = HeadProps & { showHeader?: boolean };

const { showHeader = false, ...head } = Astro.props;
---

<!doctype html>
<html lang="en" class="">
  <head>
    <BaseHead {...head} />
    <script>
      if (localStorage.theme === "dark") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <ViewTransitions />
  </head>
  <body class="">
    <div class="wrapper">
      <Nav />
      {showHeader && <Header />}
      <main class="">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  .wrapper {
    width: min(42rem, 100% - 1rem);
    margin-inline: auto;
  }
</style>
